/* estilos.css */

table {
    width: 80%;
    margin: 2rem auto;
    border-collapse: collapse;
    background-color: #f9f9f9;
}

th, td {
    padding: 12px 18px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #c9a0ff;
    color: #000000;
    font-weight: bold;
    letter-spacing: 1px;
}

.programacion {
    background-color: #ffe8cb; /* Light red */
}

.lenguaje {
    background-color: #dbd1e7; /* Light green */
}

.digitalizacion {
    background-color: #c1e1e1; /* Light blue */
}

.entornos {
    background-color: #fff2b2; /* Light yellow */
}

.basesDatos {
    background-color: #e7e7e7; /* Light purple */
}

.sistemas {
    background-color: #d1f0d1; /* Light orange */
}

.ingles {
    background-color: #fff9c1; /* Light pink */
}

.proyecto {
    background-color: #d4cec0; /* Light brown */
}

.sostenibilidad {
    background-color: #d1ddd2; /* Light khaki */
}

.fol{
    background-color: #a8f08c; /* Light gold */
}