@font-face {
    font-family: "PoppinsRegular";
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Titilliun";
    src: url("../fonts/TitilliumWeb-Regular.ttf");
}

* {
    font-family: "PoppinsRegular";
}

/* EJERCICIO 1 */

#Ej1Ant1 {
    background-color: rgb(205, 248, 205);
    width: 14rem;
    height: 6rem;
    float: left;
}

#Ej1Int2 {
    background-color: rgb(255, 255, 147);
    width: 26rem;
    height: 16rem;
}

#Ej1Post3 {
    background-color: rgb(223, 207, 238);
    width: 14rem;
    height: 5rem;
}



/* EJERCICIO 2 */
#Ej2Ant1 {
    background-color: rgb(205, 248, 205);
    float: inline-start;
    width: 14rem;
    height: 6rem;
}

#Ej2Int2 {
    background-color: rgb(255, 255, 147);
    margin-left: 25.25%;
    width: 30rem;
    height: 20rem;
}

#Ej2Post3 {
    background-color: rgb(223, 207, 238);
    width: 44rem;
    height: 5rem;
}



/* EJERCICIO 3 */
#Ej3 {
    position: relative;
    height: 500px;
    width: 800px;
}

#Ej3Ant1 {
    background-color: rgb(255, 255, 147);
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

#Ej3Post3 {
    float: right;
    width: 50%;
    height: 100%;
    background-color: rgb(205, 248, 205);
    box-sizing: border-box;
}

#Ej3Int2 {
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: rgb(223, 207, 238);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Ej3Down4 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 195, 82);
    box-sizing: border-box;
}


/* EJERCICIO 4 */
#Ej4 {
    position: relative;
    height: 600px;
    width: 1000px;
}

#Ej4Ant1 {
    float: left;
    width: 50%;
    height: 100%; 
    background-color: #FFFFB3;
    box-sizing: border-box;
}

#Ej4Int2 {
    float: right;
    width: 50%;
    height: 45%;
    background-color: #D9F7BE; 
    box-sizing: border-box;
}

#Ej4Post3 {
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: #E6E6FF;
    bottom: 5%;
    right: 0%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#Ej4Down4 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #FFDAB9;
    box-sizing: border-box;
    z-index: 100;
}



/* EJERCICIO 5 */
#Ej5header {
    background-color: lightcoral;
}

#Ej5nav {
    background-color: lightgreen;
}

#Ej5article {
    background-color: lightblue;
}

#Ej5aside {
    background-color: lightgreen;
}

#Ej5footer {
    background-color: lightcoral;
}