@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --primary-color: #ffc0cb; 
    --text-color: #333;
    --bg-color: #f4f4f4;
    --card-bg: #ffffff;
    --max-width: 87.5rem; 
}

* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    font-family: 'Poppins', sans-serif; 
    min-height: 100vh; 
    padding: 1.5rem; 
    background-color: var(--bg-color);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.logo {
    max-width: 9.5rem;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

nav ul {
    list-style: none;
    padding: 0;       
    margin: 0;        
    display: flex;   
    width: 100%;    
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: var(--primary-color); 
}

.main-container {
    display: grid;
    gap: 1.25rem; 
    max-width: var(--max-width);
    margin: 0 auto; 
    grid-auto-rows: 1fr;
}

.card {
    display: flex;
    flex-direction: column; 
    background: var(--card-bg);
    border-radius: 0.625rem; 
    padding: 1.25rem;
    border: 0.0625rem solid #000000; 
}

.card p {
    flex-grow: 1; 
}

.card-label {
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    align-self: flex-start;
    font-size: 0.8rem;
}

.feedback {
    width: 18.75rem; 
    margin: 3rem auto;
    text-align: center;
    font-size: 0.75rem;
}

.contenedor-feedback {
    display: flex;
    border: 1px solid #ccc;
}

.opcion {
    flex: 1;
    padding: 0.5rem;
    transition: flex 0.3s ease;
    cursor: pointer;
}

.opcion:hover {
    flex: 3; 
    background-color: #e0f7fa;
}

@media (min-width: 37.56rem) {
    .main-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 56.25rem) {
    .main-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 37.5rem) {
    .main-container {
        grid-template-columns: 1fr; 
    }
    nav {
        flex-direction: column; 
        align-items: center;
    }
}